---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Content from "../components/Content.astro";
import Introduction from "../components/Introduction.astro";

const pageTitle = "CCCTW";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout pageTitle={pageTitle}>
    <Content>
        <section class="relative mb-6 h-80 flex justify-center items-center">
            <div class="z-10 text-center px-8 drop-shadow-xl shadow-black">
                <div class="uppercase text-sm mb-4">Welcome to</div>
                <div class="text-4xl font-mplus font-medium">
                    A short self introduction of <span class="text-orange-500"
                        >me</span
                    >
                </div>
            </div>
        </section>
        <!-- self introduction -->
        <Introduction />
    </Content>
</BaseLayout>
