---
---

<section class="relative mt-6 flex flex-col gap-16">
    <div class="flex justify-between items-center">
        <div class="flex-1">
            <h2 class="text-4xl mb-6 font-extrabold drop-shadow-lg">
                Ccctw Ma
            </h2>
            <p class="font-bold">Front End Engineer (Postgraduate/Software)</p>
        </div>
        <img
            class="inline-block w-[100px] h-[100px] ml-8 rounded-full border-2 border-white border-solid"
            src="https://avatars.githubusercontent.com/u/50932721?v=4"
            alt="https://avatars.githubusercontent.com/u/50932721?v=4"
            srcset=""
        />
    </div>

    <div class="flex flex-col">
        <h2
            class="w-fit text-2xl font-extrabold drop-shadow-lg leading-6 underline underline-offset-[12px] decoration-gray-600 decoration-4"
            title="introduction"
        >
            Intro
        </h2>
        <p class="mt-8 text-lg font-semibold indent-8 text-justify">
            I am currently pursuing a Master's degree in Software Engineering,
            and I am very interested in the field of front-end development. I am
            passionate about learning new front-end knowledge and using coding
            to build the products I envision. My ultimate goal is to become a
            full-stack engineer and have the opportunity to share my knowledge
            with others. My nickname is <span class="text-orange-500"
                >ccctw</span
            > because I strongly believe that code can change the world.
        </p>
    </div>

    <div class="flex flex-col">
        <h2
            class="w-fit text-2xl font-extrabold drop-shadow-lg leading-6 underline underline-offset-[12px] decoration-gray-600 decoration-4"
            title="biography"
        >
            Bio
        </h2>
        <div class="flex mt-8 text-lg font-semibold">
            <span class="inline-block mr-8">1999</span>
            <span class="inline-block text-justify">
                Bron in <a
                    class="text-orange-500"
                    title="https://en.wikipedia.org/wiki/Xinyang"
                    target="_blank"
                    href="https://en.wikipedia.org/wiki/Xinyang"
                    aria-label="https://en.wikipedia.org/wiki/Xinyang"
                    >&thinsp;Xinyang</a
                >,&thinsp; Henan, &thinsp;China.</span
            >
        </div>
        <div class="flex mt-4 text-lg font-semibold">
            <span class="inline-block mr-8">2017</span>
            <span class="inline-block text-justify"
                >Completed high school courses at

                <a
                    class="text-orange-500"
                    title="http://www.xygz.com.cn/"
                    href="http://www.xygz.com.cn/"
                    target="_blank"
                >
                    XYGZ
                </a>
                (Xinyang Senior High School) in Xinyang City, Henan Province</span
            >
        </div>
        <div class="flex mt-4 text-lg font-semibold">
            <span class="inline-block mr-8">2021</span>
            <span class="inline-block text-justify"
                >Completed college courses in information engineering College of
                <a
                    class="text-orange-500"
                    title="http://www.zzu.edu.cn/"
                    href="http://www.zzu.edu.cn/"
                    target="_blank"
                >
                    ZZU
                </a>
                (Zhengzhou University), &thinsp; majoring in software engineering</span
            >
        </div>
        <div class="flex mt-4 text-lg font-semibold">
            <span class="inline-block mr-[34px]">Now</span>
            <span class="inline-block text-justify"
                >Studying for a Master's degree in Software Engineering at
                <a
                    class="text-orange-500"
                    title="http://www.bupt.edu.cn/"
                    href="http://www.bupt.edu.cn/"
                    target="_blank"
                >
                    BUPT
                </a>
                (Beijing University of Posts and Telecommunications)</span
            >
        </div>
    </div>

    <div class="flex flex-col">
        <h2
            class="w-fit text-2xl font-extrabold drop-shadow-lg leading-6 underline underline-offset-[12px] decoration-gray-600 decoration-4"
        >
            I ♥
        </h2>
        <p class="mt-8 text-lg font-semibold indent-8">
            <a
                class="text-red-400"
                href="https://music.163.com/playlist?id=985713476&userid=637066403"
                target="_blank"
                rel="noopener noreferrer">Music</a
            >
            &nbsp; Film &nbsp; Basketball &nbsp; LOL
        </p>
    </div>
</section>
