---
import Content from "../components/Content.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <main class="pt-[60px]">
        <article class="px-8 mx-auto max-w-3xl pt-6">
            <slot />
            <span
                class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl list-disc"
            ></span>
        </article>
    </main>
</BaseLayout>
